<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="feeds">
      <ion-icon name="document-text-outline"></ion-icon>
      <ion-label>Feed</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="messages">
      <ion-icon name="megaphone-outline"></ion-icon>
      <ion-label>profile</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notifications">
      <ion-icon name="notifications-outline"></ion-icon>
      <ion-label>Notifications</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="transfer">
      <ion-icon name="send-outline"></ion-icon>
      <ion-label>Transfer</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
